* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #fd6e0aFF;
    --secondary-color: #fff8f3FF;
    --text-color: rgba(117, 117, 117, 1);

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7f7;
    /* background-color: white; */
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
}

section {
    padding: 75px 0px;
    padding-bottom: 140px;

}

p {
    color: var(--text-color) !important;
}

/* common css end here.! */





/* header section */

header {

    background-color: var(--secondary-color)
}

header span h3 {
    font-size: 3rem;

}

nav {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    align-items: middle;
    align-self: center;

}

header nav .logo {
    height: fit-content;
    font-size: 48px;
    margin: auto 0;
    cursor: pointer;
}

header .logo span {
    color: var(--primary-color);
}

header nav .logo {}

nav ul {
    display: flex;
    list-style: none;
    width: 25%;
    justify-content: space-between;
    height: fit-content;
    align-self: center;

}

nav ul li {
    align-self: center;
    cursor: pointer;
    font-weight: 600;
    color: var(--text-color);
}

nav ul li:last-child {
    width: 40%;
}

nav ul li button {
    width: 100%;
    height: 50px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: capitalize;
    cursor: pointer;
    color: white;
}


header {
    background-image: url('./images/header_bg.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    position: relative !important;
}

header::after {
    content: "Developer";
    font-size: 85px;
    color: var(--text-color);
    text-transform: capitalize;
    letter-spacing: 30px;
    transform: rotate(-90deg);
    width: fit-content;
    height: fit-content;
    font-weight: 700;
    position: absolute;
    top: 38%;
    left: -15% !important;
    color: rgb(165, 165, 165);

}


.hero-section {
    /* height: fit-content; */
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.hero-section .hero-left-title {
    width: 50%;
    display: flex;
    min-height: 100%;
    gap: 20px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-section .hero-left-title span {
    width: 100%;
    height: fit-content;
    line-height: 28px;
}

.hero-section .hero-left-title span h4 {
    font-size: 28px;
    color: #a0a0a0;
}

.hero-section .hero-left-title span h2 {
    font-size: 68px;
    margin: 50px 0;

    letter-spacing: 3px;
}

.hero-section .hero-left-title span p {
    width: 80%;
    padding-right: 25px;
    letter-spacing: 1px;
    margin: 35px 0;
}

.hero-section .hero-left-title .button {
    display: flex;
    width: 100%;
    gap: 0 25px;
}

.hero-section .hero-left-title button {
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
    font-size: 18px;
}

.hero-section .hero-left-title button:nth-last-child(1) {
    background-color: transparent;
    border: 1px solid black;
    color: black;

}



.hero-right-image .my-img img {
    margin-bottom: -4px;
    padding: 0;
}


















/* about section */
.about-me-section h2 {
    text-align: center;
    font-size: 32px;
    margin: 45px auto;
}

.about-me-section p {
    width: 65%;
    margin: 0 auto;
    line-height: 27px;
    letter-spacing: .5px;
    text-align: center;
    color: var(--text-color);
}

.about-me-section .container {}

.about-me-section .container {
    background-color: var(--secondary-color);
    padding: 80px 45px;
    border-radius: 7px;

}

.about-footer {
    width: 65%;
    margin: 45px auto;
    display: flex;
    justify-content: space-between;

}

.about-footer li {
    list-style: none;
    margin-top: 50px;

}

.about-footer li h5 {
    font-size: 20px;
}









/* what i do section */

.what-i-do-section {}

.what-i-do-section .do-title {
    margin: 25px 0;
    width: 45%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-bottom: 75px;

}


.what-i-do-section .do-title h3 {
    font-size: 32px
}

.what-i-do-section .do-title p {
    line-height: 35px;
}

.what-i-do-section .skill-cards {
    display: flex;
    justify-content: space-between
}

.what-i-do-section .skill-cards .card {
    width: 21%;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: -5px -5px 10px rgb(133, 133, 133);
    display: flex;
    flex-direction: column;
    line-height: 27px;


}

.what-i-do-section .skill-cards .card .icon {
    padding: 25px 0;
    display: flex;
    gap: 0px 7px;
}


.what-i-do-section .skill-cards .card h4 {
    font-size: 24px;

}

.what-i-do-section .skill-cards .card p {
    padding-right: 25px;
    margin-top: 25px;
    letter-spacing: 1px;
}








/* Skill Cards SECTION*/


.skill-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skill-cards .card {
    width: 23.5%;
    margin: 0 auto;
}




/* resume section  */
.Resume-section span {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding: 3rem 0rem;
}

.Resume-section h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 3rem;
}

.Resume-section h3 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.Resume-section button {
    font-weight: 600;
    letter-spacing: 1px;
}

.Resume-section .education,
.Resume-section .experience {
    width: 45%;

}

.education-list h4,
h6 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2rem;
    text-transform: capitalize;
}

.education-list h6 {
    font-size: 13px;
    color: rgba(117, 117, 117, 1);
}

.Resume-section .education-list {}

.Resume-section .education-list {
    border-bottom: 1px solid #a0a0a0;
    width: 100%;
    padding: 25px 0px;
    padding-right: 25px;
}

.Resume-section .education-list:last-child {
    border-bottom: none;
}

.Resume-section .education-list p {
    font-size: 16px;
    line-height: 1.5rem;
    color: rgba(117, 117, 117, 1);

}



.cv-download-btn {
    text-align: center;
}

.cv-download-btn button {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    fontsize: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
}



.amazing-work-section {}

section.amazing-work-section {
    padding: 95px 0;
    padding-bottom: 140px;

}

.amazing-work-section h3 {
    text-align: center;
}

.amazing-work-section .work-gallary {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    grid-template-areas:
        "One Two Three"
        "Four Two Six"
        "Four Five Six"
    ;
    grid-gap: 15px;
}

.amazing-work-section .work-gallary img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.work-gallary .img1 {
    grid-area: One;
}

.work-gallary .img2 {
    grid-area: Two;
}

.work-gallary .img3 {
    grid-area: Three;
}

.work-gallary .img4 {
    grid-area: Four;
}

.work-gallary .img5 {
    grid-area: Five;
}

.work-gallary .img6 {
    grid-area: Six;
}







/* foooter section */

footer {
    background-color: #fff8f3;

    padding: 85px 0px;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

footer h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.footer-left {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-left span img:hover {
    cursor: pointer;
}

.footer-left span {
    display: flex;
    gap: 20px;
}

.footer-left p {
    font-size: 16px;
    line-height: 1.5rem;
}

.footer-right {
    width: 40%;
}

footer form {
    width: 100%;
    display: block;
    padding: 1rem 0;
}

footer form input[placeholder] {
    color: #000;
    font-size: 16px;
}

footer form input {
    width: 100%;
    display: block;
    margin: 15px 0;
    height: 50px;
    outline: none;
    padding: 0.5rem;
    border: none;
}

footer form button {
    display: block;
    background-color: var(--primary-color);
    padding: 1rem 2rem;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}

footer form textarea {
    width: 100%;
    display: block;
    margin: 15px 0;
    height: 150px;
    outline: none;
    padding: 0.5rem;
    font-size: 18px;
    border: none;
}

footer form button .fa-paper-plane {
    font-size: 18px;
}

footer form button {
    cursor: pointer;
}