* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #fd6e0aFF;
    --secondary-color: #fff8f3FF;


}

body {
    font-family: 'Poppins', sans-serif;

}

.container {
    width: 80%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
}

section {
    padding: 75px 0px;
    padding-bottom: 140px;
    background-color: #c1c8f1;
}

/* common css end here.! */





/* header section */

header {
    background-color: var(--primary-color);
}

header span h3 {
    font-size: 3rem;

}

nav {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    align-items: middle;
}

nav ul {
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-between;

}

nav ul li {
    padding: 1rem;
}









/* about section */
.about-footer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}



/* Skill Cards SECTION*/


.skill-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skill-cards .card {
    width: 23.5%;
    margin: 0 auto;
}




/* resume section  */
.Resume-section span {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding: 3rem 0rem;
}

.Resume-section h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 3rem;
}

.Resume-section h3 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.Resume-section button {
    font-weight: 600;
    letter-spacing: 1px;
}

.Resume-section .education,
.Resume-section .experience {
    width: 45%;

}

.education-list h4,
h6 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2rem;
    text-transform: capitalize;
}

.education-list h6 {
    font-size: 13px;
    color: rgba(117, 117, 117, 1);
}

.Resume-section .education-list {}

.Resume-section .education-list {
    border-bottom: 1px solid #a0a0a0;
    width: 100%;
    padding: 25px 0px;
    padding-right: 25px;
}

.Resume-section .education-list:last-child {
    border-bottom: none;
}

.Resume-section .education-list p {
    font-size: 16px;
    line-height: 1.5rem;
    color: rgba(117, 117, 117, 1);

}



.cv-download-btn {
    text-align: center;
}

.cv-download-btn button {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    fontsize: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
}



.amazing-work-section {}

section.amazing-work-section {
    padding: 95px 0;
    padding-bottom: 140px;

}

.amazing-work-section h3 {
    text-align: center;
}

.amazing-work-section .work-gallary {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    grid-template-areas:
        "One Two Three"
        "Four Two Six"
        "Four Five Six"
    ;
    grid-gap: 15px;
}

.amazing-work-section .work-gallary img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.work-gallary .img1 {
    grid-area: One;
}

.work-gallary .img2 {
    grid-area: Two;
}

.work-gallary .img3 {
    grid-area: Three;
}

.work-gallary .img4 {
    grid-area: Four;
}

.work-gallary .img5 {
    grid-area: Five;
}

.work-gallary .img6 {
    grid-area: Six;
}







/* foooter section */

footer {
    background-color: #fff8f3;
    padding: 4rem 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

footer h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.footer-left {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-left p {
    font-size: 16px;
    line-height: 1.5rem;
}

.footer-right {
    width: 40%;
}

footer form {
    width: 100%;
    display: block;
    padding: 1rem 0;
}

footer form input[placeholder] {
    color: #000;
    font-size: 16px;
}

footer form input {
    width: 100%;
    display: block;
    margin: 15px 0;
    height: 50px;
    outline: none;
    padding: 0.5rem;
    border: none;
}

footer form button {
    display: block;
    background-color: var(--primary-color);
    padding: 1rem 2rem;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}

footer form textarea {
    width: 100%;
    display: block;
    margin: 15px 0;
    height: 150px;
    outline: none;
    padding: 0.5rem;
    font-size: 18px;
    border: none;
}

footer form button {
    cursor: pointer;
}